@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Types Of Health Insurance</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/img/indiv health.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Individual Health Insurance</h5>
                        <span></span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Individual Health Insurance</h5>
                        <span></span>
                        <div class="d-flex justify-content-center">
                            <a class="btn  btn-light m-1" asp-action="Policy" asp-controller="User" asp-route-id="1">Description</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/img/family health.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Family Health Insurance</h5>
                        <span></span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Family Health Insurance</h5>
                        <span></span>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light m-1" asp-action="Policy" asp-controller="User" asp-route-id="2">Description</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/img/Corporate Health Insure.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Corporate Health Insurance</h5>
                        <span></span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Corporate Health Insurance</h5>
                        <span></span>
                        <div class="d-flex justify-content-center">
                            <a class="btn  btn-light m-1" asp-action="Policy" asp-controller="User" asp-route-id="3">Description</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/img/accidental.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Accidental Health Insurance</h5>
                        <span></span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Accidental Health Insurance</h5>
                        <span></span>
                        <div class="d-flex justify-content-center">
                            <a class="btn  btn-light m-1" asp-action="Policy" asp-controller="User" asp-route-id="4">Description</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->